

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
    --main-bg-color: #4f4f4f;
    --sidebar-width: 3em;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    color: #f6f6f6;
    background-color: var(--main-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  

}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
  margin: 0;
  padding-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}


.col {
    width: 50%;
    padding: 0.5em;
    margin: .1em;
    border: solid;
    border-radius: .5em;
}
#markdown_input
{
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    /*float:left;*/
    color: #f6f6f6;
    background: var(--main-bg-color);
}
#rendered_markdown {
    grid-column: 2;
    grid-row: 1;
    

    /*float:right;*/
    text-align: left;
    color: #f6f6f6;
    background-color: var(--main-bg-color);
}
.main_editor{
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  color: #f6f6f6;
  background-color: var(--main-bg-color);
}
h1 {
  text-align: left;
  line-height: 18px;
    margin-top: 0.067em;
  margin-bottom: 0.067em;
}

ol li {
  margin-left: 1em;
}

ul li {
  margin-left: 1em;
}
.sidebar_button {
    width: 100%;
    background-color: var(--main-bg-color);
    border: none;
}

.sidebar_icon {
    width: 100%;
}
.topbar_button {
    height: 2em;
    background-color: var(--main-bg-color);
    /*border: none;*/
}
.topbar_icon {
    height: 100%;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: var(--main-bg-color);
  }

}
#main_editor {
    display: flex;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    height:100vh;
    flex-direction: column;
}

#sidebar {
    visibility: visible;
    width: var(--sidebar-width);
    transition: all 0.1s ease-out;
}

